.el {
	height: 5px;
	width: 5px;
	background: black;
	position: absolute;
	z-index: 999999;
}
svg {
	margin-left:50px;
	#animatedLine {
		fill: none;
		shape-rendering: geometricPrecision;
		stroke-width: 3px;
		stroke: #56acf4;
	}
}